{{#if errorMessages.length}}
  <p>Couldn't answer the question because</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if faqs.length}}
  {{#each faqs}}
    <div>
      <form action="/faq/delete/{{id}}" method="POST">
        <button class="icon icon-delete"></button>
      </form>
      <p>{{question}}</p>
    </div>
    <form action="/faq/answer/{{id}}" method="POST">
      <input
        class="form-input"
        id="input-example-3"
        name="question"
        value="{{question}}"
        placeholder="Question ..."
        rows="3"
      ></input>
      <input
        class="form-input"
        id="input-example-3"
        name="answer"
        value="{{answer}}"
        placeholder="Answer..."
        rows="3"
      ></input>
      <button class="btn btn-primary">Answer</button>
    </form>
  {{/each}}
{{else}}
  <p>Couldn't find any questions</p>
{{/if}}