<h2>FREQUENTLY ASKED QUESTIONS</h2>

{{#if session.isLoggedIn}}
  <button class="btn btn-primary">
    <a class="text-light" href="/faq/all-questions">All questions</a>
  </button> 
{{/if}}

{{#if errorMessages.length}}
  <p>Couldn't create the question because</p>
    <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if answeredFaqs.length}}
    <div class="faqs-container">
      {{#each answeredFaqs}}
        <div>
            {{#if ../session.isLoggedIn}}
              <form action="/delete-answered-question/{{id}}" method="POST">
                <button class="icon icon-delete"></button>
              </form>
              <i class="icon icon-edit"></i>
        </div>
        {{/if}}
          <p>{{question}}</p>
          <p>{{answer}}</p>
      {{/each}}
    </div>
{{else}}
    <p>Couldn't find any questions</p>
{{/if}}

<div class="guestbook-form-write-area">
  <form method="POST">
    <div class="form-group-faq">
      <div class="form-group">
      <label class="form-label" for="input-example-3"><h3>DU YOU HAVE ANY QUESTIONS?</h3></label>
      {{! <label class="form-label" for="input-example-1"></label> }}
      <textarea
        class="form-input"
        id="input-example-3"
        name="question"
        value=""
        placeholder="Write question here..."
        rows="3"
      ></textarea>
      <div class="center-and-padding-button">
        <a href=""><button class="btn btn-primary">Send</button></a>
      </div>
      </div>
    </div>
  </form>
  </div>
</div>

{{!-- <form action="/faq" method="post">
  <div>
    Question:<input type="text" name="question" value="{{question}}" />
  </div>
  <input type="submit" value="Create question" />
</form> --}}

{{!-- <form action="/projects/create" method="post">
  <div>
    Title:<input type="text" name="title" value="" />
  </div>

  <div>
    Description:<input type="text" name="description" value="{{description}}" />
  </div>
  <input type="submit" value="Create" />
</form> --}}