<div class="text-in-center-container">
  <h2>FREQUENTLY ASKED QUESTIONS</h2>
  <p>
    This is the page with the most common questions. If you have any questions,</br>
    just write them in the form and I will try to answer as soon as possible. When you click the send button<br> 
    the questions will be stored and displayed when they have been answered.
  </p>
</div>

{{#if session.isLoggedIn}}
  <button class="btn btn-primary">
    <a class="text-light" href="/faq/allFaqs">All questions</a>
  </button> 
{{/if}}

{{#if errorMessages.length}}
  <p>Couldn't create the question because</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<div class="container-guestbook-and-faq">
  <form action="/faq" method="POST">
    <div class="form-group">
        <label class="form-label" for="input-example-3"><h4>DU YOU HAVE ANY QUESTIONS?</h4></label>
        {{! <label class="form-label" for="input-example-1"></label> }}
        <textarea
          class="form-input"
          id="input-example-3"
          name="question"
          value="{{question}}"
          placeholder="Write here..."
          rows="3"
        ></textarea>
        <div class="center-and-padding-button">
          <a href=""><button class="btn btn-primary">Send</button></a>
        </div>
    </div>
  </form>

  {{#if answeredFaqs.length}}
    {{#each answeredFaqs}}
      <div class="faq-post">
        <p><b>{{question}}</b></p>
        <p>{{answer}}</p>
        {{#if ../session.isLoggedIn}}
          <div class="space-around-items">
            <form action="/answeredFaq/delete/{{id}}" method="POST">
              <button class="icon icon-delete"></button>
            </form>
            <a href="/answeredFaq/update/{{id}}" class="icon icon-edit"></a>
          </div>    
        {{/if}}
      </div>
    {{/each}} 
  {{else}}
    <p>Couldn't find any questions</p>
  {{/if}}
</div>