<h2>GUESTBOOK</h2>

{{#if errorMessages.length}}
  <p>Couldn't create the post because</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if guestbook.length}}
  <ul>
    <div class="container-guestbook">

      {{#each guestbook}}
        <div>    
          <form action="/delete-post/{{id}}" method="POST">
            <button class="icon icon-delete"></button>
          </form>
          <i class="icon icon-edit"></i>
        </div>
            <p>{{date}}</p>
            <p>{{name}}</p>
            <p>{{post}}</p>
        </div>
      {{/each}}

    </div>
  </ul>

  {{#else}}
    <p>Couldn't find any guestbook posts</p>
  {{/else}}

{{/if}}


<div class="container-guestbook">
  <form action="/guestbook" method="POST">
    <div class="form-group-guestbook">
      <div class="form-group">
      <label class="form-label" for="input-example-3"><h3>WRITE IN MY GUESTBOOK</h3></label>
      {{! <label class="form-label" for="input-example-1"></label> }}
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        name="name"
        value="{{name}}"  
        placeholder="Name"
      />
      <textarea
        class="form-input"
        id="input-example-3"
        name="post"
        value="{{post}}"
        placeholder="Write here..."
        rows="3"
      ></textarea>
      <div class="center-and-padding-button">
        <a href=""><button class="btn btn-primary">Send</button></a>
      </div>
    </div>
  </form>
</div>
{{!-- <form action="/faq" method="post">
  <div>
    Question:<input type="text" name="question" value="{{question}}" />
  </div>
  <input type="submit" value="Create question" />
</form> --}}

{{! <div class="panel">
  <div class="panel-header">
    <div class="panel-title">Comments</div>
  </div>
  <div class="panel-nav">
    <!-- navigation components: tabs, breadcrumbs or pagination -->
  </div>
  <div class="panel-body">
    <!-- contents -->
  </div>
  <div class="panel-footer">
    <!-- buttons or inputs -->
  </div>
</div> }}