<h2>GUESTBOOK</h2>

<div class="text-in-center-container">
  <p>
    This is my guestbook and I would love if you wrote something in it! Feel free to write feedback regarding<br>
    my website and projects. You can of course write if you have any questions as well.
  </p>
</div>

{{#if errorMessages.length}}
  <p>Couldn't create the post because</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<div class="container-guestbook-and-faq">
  <div class="form-write-area">
    <form action="/guestbook" method="POST">
      <div class="form-group">
        <label class="form-label" for="input-example-3"><h4>WRITE IN MY GUESTBOOK</h4></label>
        <input
          class="form-input"
          type="text"
          id="input-example-1"
          name="name"
          value="{{name}}"  
          placeholder="Name"
        />
        </br>
        <input
          class="form-input"
          id="input-example-3"
          name="post"
          value="{{post}}"
          placeholder="Write here..."
          rows="3"
        ></input>
        <div class="center-and-padding-button">
          <a href=""><button class="btn btn-primary">Send</button></a>
        </div>
      </div>
    </form>
  </div>
    {{#if guestbook.length}}
      {{#each guestbook}}
        <div class="guestbook-post">
          <div class="space-around-items">
             <p><b>{{name}}</b></p>
             <p>{{dateCreated}}</p>
              {{#if ../session.isLoggedIn}}
                <form action="/guestbook/delete/{{id}}" method="POST">
                  <button class="icon icon-delete"></button>
                </form>
              {{/if}}
          </div> 
          <p>{{post}}</p>
          <p><i>{{answer}}</i></p>
          {{#if ../session.isLoggedIn}}
            <form action="/guestbook/answer/{{id}}" method="POST">
              <input
                class="form-input"
                id="input-example-3"
                name="answer"
                value=""
                placeholder="Answer..."
                rows="3"
              ></input>
              <button class="btn btn-primary">Answer</button>
            </form> 
          {{/if}}
        </div>
      {{/each}}   
      {{else}}
        <p>Couldn't find any guestbook posts - be the first one to write in my guestbook!</p>
    {{/if}}
</div>