<h2>GUESTBOOK</h2>


{{#if errorMessages.length}}
  <p>Couldn't create the post because</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<div class="container-guestbook-and-faq">
  <div class="form-write-area">
  <form action="/guestbook" method="POST">
      <div class="form-group">
      <label class="form-label" for="input-example-3"><h4>WRITE IN MY GUESTBOOK</h4></label>
      {{! <label class="form-label" for="input-example-1"></label> }}
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        name="name"
        value="{{name}}"  
        placeholder="Name"
      />
      </br>
      <textarea
        class="form-input"
        id="input-example-3"
        name="post"
        value="{{post}}"
        placeholder="Write here..."
        rows="3"
      ></textarea>
      <div class="center-and-padding-button">
        <a href=""><button class="btn btn-primary">Send</button></a>
      </div>
      </div>
  </form>
  </div>
{{#if guestbook.length}}
      {{#each guestbook}}
        <div class="guestbook-post">
          <div class="icons">
             <p><b>{{name}}</b></p>
             <p>{{date}}</p>
              {{#if ../session.isLoggedIn}}
              <form action="/delete-post/{{id}}" method="POST">
            <button class="icon icon-delete"></button>
          </form>
      {{/if}}
          </div> 
            <p>{{post}}</p>
            <p><i>{{answer}}</i></p>
          {{#if ../session.isLoggedIn}}
          <form action="/answer-post/{{id}}" method="POST">
          <textarea
        class="form-input"
        id="input-example-3"
        name="answer"
        value="{{answer}}"
        placeholder="Answer..."
        rows="3"
      ></textarea>
      <div class="icons">
            <button class="btn btn-primary">Answer</button>
          </form>
        </div>
          {{/if}}
        </div>
      {{/each}}

  {{else}}
    <p>Couldn't find any guestbook posts</p>
{{/if}}
{{!-- <form action="/faq" method="post">
  <div>
    Question:<input type="text" name="question" value="{{question}}" />
  </div>
  <input type="submit" value="Create question" />
</form> --}}

{{! <div class="panel">
  <div class="panel-header">
    <div class="panel-title">Comments</div>
  </div>
  <div class="panel-nav">
    <!-- navigation components: tabs, breadcrumbs or pagination -->
  </div>
  <div class="panel-body">
    <!-- contents -->
  </div>
  <div class="panel-footer">
    <!-- buttons or inputs -->
  </div>
</div> }}