<div class="project-title"><h2>PROJECTS</h2></div>
{{#if session.isLoggedIn}}
  <div class="button-padding-bottom ">
    <button class="btn btn-primary">
      <a class="text-light" href="/projects/create">Create project</a>
    </button>
  </div>
{{/if}}

{{#if projects.length}}
  <div class="projects-container">
    {{#each projects}}  
      <div>
        <a href="/projects/{{id}}">
            {{title}}
            <img class="projects-image" src={{image}}></img></a> 
            {{#if ../session.isLoggedIn}}
              <div class="space-around-items">
                <form action="/delete-project/{{id}}" method="POST">
                  <button class="icon icon-delete"></button>
                </form>
                <a href="/update-project/{{id}}" class="icon icon-edit"></a>
              </div> 
            {{/if}}
          </div>
      {{/each}}
  </div>
{{else}}
  <p>Couldn't find any projects</p>
{{/if}}